body{
    margin:40px auto;
    margin-top: 10px;
    max-width:100%;
    line-height:1.6;
    font-size:14px;
    color:#444;
    padding:0 10px;
}

h1,h2,h3 {
    line-height: 1.2;
    font-size: 18px;
}

#dsj-body {
    width: 60%;
    margin: auto;
}

#dsj-header {
    margin: auto;
    font-size: 25px;
    display: table;
}

#dsj-header-text {
    vertical-align: middle;
    display: inline;
}
